<div style="float:left">作业各题统计</div>

<!--Table-->
<table class="table table-sm">

        <!--Table head-->
        <thead class="mdb-color darken-0">
          <tr class="text-white">
              <th></th>
              <th>第一题</th>
              <th>第二题</th>
              <th>第三题</th>
              <th>第四题</th>
              <th>第五题</th>
          </tr>
        </thead>
        <!--Table head-->
        
        <!--Table body-->
        
        <tbody>
          <tr>
              <td>提交率</td>
              <td>100%</td>
              <td>100%</td>
              <td>100%</td>
              <td>100%</td>
              <td>100%</td>
          </tr>
          <tr>
                <td>正确率</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>平均用时</td>
                <td>5分</td>
                <td>6分</td>
                <td>5分</td>
                <td>7分</td>
                <td>6分</td>
            </tr>
        </tbody>
        <!--Table body-->
        </table>
        <!--Table-->
<div style="float:left">学生作业完成情况</div>

<!--Table-->
<table class="table table-sm">

<!--Table head-->

<!--Table body-->

<tbody>
    <tr *ngFor="let homeworkDetail of homeworkDetailList">
        <td *ngFor ="let x of homeworkDetail">
            {{x}}
        </td>
    </tr>
</tbody>
<!--Table body-->
</table>
<!--Table-->