<!-- Card -->
<!-- <div class="card card-cascade"> -->
<h4 class="card-header primary-color white-text">
  <div class="col-md-0 d-inline align-baseline">最新资源</div>
  <div class="col-md-0 d-inline align-text-top text-right">更多</div>
</h4>


<!--Section: -->
<section id="cascading-cards">
  <!--Title-->
  <h2 class="title">
    <strong>数学</strong>
  </h2>

  <div class="row">

    <div class="col-md-3">

      <!--Description-->
      <p class="description"></p>

      <!--Section: Live preview-->
      <section>

        <!-- Card Regular -->
        <div class="card card-cascade narrower mb-4">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body text-center">

            <!-- Title -->
            <h4 class="card-title">
              <strong>初中数学解题技巧与分析</strong>
            </h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">张数群（特级教师）</h6>
            <!-- Text -->
            <p class="card-text">日期：2018/06/19 </p>
            <p class="card-text">浏览量：35 </p>
          </div>

        </div>
        <!-- Card Regular -->

      </section>
      <!--Section: Live preview-->
    </div>
    <div class="col-md-3">

      <!--Description-->
      <p class="description"></p>

      <!--Section: Live preview-->
      <section>

        <!-- Card Regular -->
        <div class="card card-cascade narrower mb-4">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body text-center">

            <!-- Title -->
            <h4 class="card-title">
              <strong>初中数学解题技巧与分析</strong>
            </h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">张数群（特级教师）</h6>
            <!-- Text -->
            <p class="card-text">日期：2018/06/19 </p>
            <p class="card-text">浏览量：35 </p>
          </div>

        </div>
        <!-- Card Regular -->

      </section>
      <!--Section: Live preview-->
    </div>
  </div>
  <!--Section: Code-->
  <section>
    <hr>

    <!--Section: -->
    <section id="cascading-cards">
      <!--Title-->
      <h2 class="title">
        <strong>语文</strong>
      </h2>

      <div class="row">
        <div class="col-md-3">

          <!--Description-->
          <p class="description"></p>

          <!--Section: Live preview-->
          <section>

            <!-- Card Regular -->
            <div class="card card-cascade narrower mb-3">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" (click)="demoBasic.show()" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">
                  <strong>议论文特点
                    <br>
                  </strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">舒马赫（高级教师）</h6>
                <!-- Text -->
                <p class="card-text">日期：2018/06/19 </p>
                <p class="card-text">浏览量：35 </p>
              </div>

            </div>
            <!-- Card Regular -->

          </section>
          <!--Section: Live preview-->
        </div>
        <div class="col-md-3">

          <!--Description-->
          <p class="description"></p>

          <!--Section: Live preview-->
          <section>

            <!-- Card Regular -->
            <div class="card card-cascade narrower mb-3">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">
                  <strong>古诗赏析
                    <br>
                  </strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">李白（特级教师）</h6>
                <!-- Text -->
                <p class="card-text">日期：2018/06/19 </p>
                <p class="card-text">浏览量：35 </p>
              </div>

            </div>
            <!-- Card Regular -->

          </section>
          <!--Section: Live preview-->
        </div>
        <div class="col-md-3">

          <!--Description-->
          <p class="description"></p>

          <!--Section: Live preview-->
          <section>

            <!-- Card Regular -->
            <div class="card card-cascade narrower mb-3">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">
                  <strong>文言文理解</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">侯德纲（特级教师）</h6>
                <!-- Text -->
                <p class="card-text">日期：2018/06/19 </p>
                <p class="card-text">浏览量：35 </p>
              </div>

            </div>
            <!-- Card Regular -->

          </section>
          <!--Section: Live preview-->
        </div>
      </div>
      <!--Section: Code-->
      <section>
        <hr>


        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()"
          mdbWavesEffect>
          Small modal
        </button>

        <div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>Close</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-danger waves-light" mdbPopover="And here some amazing content. It's very engaging. Right?"
          placement="right" popoverTitle="Dismissible popover" triggers="focus" mdbWavesEffect>
          Dismissible popover
        </button>

        <p>
          <span mdbPopover="I can show and hide on click." popoverTitle="Dismissible popover" triggers="focus" mdbWavesEffect #example="bs-mdbPopover">
            Text with attached popover
          </span>
        </p>

        <button type="button" class="btn btn-primary" (click)="example.show()">
          Show
        </button>
        <button type="button" class="btn btn-warning" (click)="example.hide()">
          Hide
        </button>