<div class="row">人教版 八年级 数学 第三章 第四小节</div>
<div class="alert alert-success" role="alert">
  Selected books: {{selectedSectionIds}}
</div>
<hr>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="form-group">
          <label>
            <strong>ngx-treeview</strong>
          </label>
          <!-- <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" (selectedChange)="selectedSectionIds = $event"> -->
          <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" (selectedChange)="onSelectedChange($event)">
          </ngx-treeview>
        </div>
      </div>


  <div class="col-md-6">
      <form [formGroup]="myForm" (ngSubmit)="generatNewTest(myForm.value)">
    <div>
      <button type="submit" class="btn btn-primary waves-light" mdbRippleRadius>
        数量输入</button>
      <button type="submit" class="btn btn-primary waves-light" mdbRippleRadius>
        自动出题</button>
    </div>
    <div class="card">
      <!--Card content-->
      <div class="card-body">
        <!--Table-->
        <table class="table table-sm">

          <!--Table head-->
          <thead class="mdb-color darken-0">
            <tr class="text-white">
              <th>No.</th>
              <th>章节</th>
              <th>出题数量</th>
            </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody *ngFor="let questionNumber of questionNumberList; let myIndex = index">
            <tr>
              <th scope="row">{{myIndex+1}}</th>
              <td>{{questionNumber.sectionName}}</td>
              <td>
                <!-- <input type="text" id="taskName" data-error="  " data-success=" " placeholder="请输入任务名称" class="form-control" formControlName="testName"
                  mdbInputDirective> -->
                  <input type="text"  data-error="  " data-success=" " placeholder="请输入任务名称"   mdbInputDirective>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

    </div>
  </form>
  </div>

</div>