<div class="row">人教版 八年级 数学</div>
<hr>
<div class="row">
  <div class="col-lg-4 col-sm-12">
    <div class="form-group">
      <ngx-treeview [config]="config" [items]="bookContents" (filterChange)="onFilterChange($event)" (selectedChange)="onSelectedChange($event)">
      </ngx-treeview>
    </div>
  </div>


  <div class="col-md-6">
    <form #model="ngForm" (ngSubmit)="createNewTest()">
      <div>
        <button type="submit" class="btn btn-primary waves-light" mdbRippleRadius>自动出题</button>
      </div>
      <div class="card mb-6" >
        <!--Card content-->
        <div class="card-body">
          <!--Table-->
          <table class="table table-sm">
            <!--Table head-->
            <thead class="mdb-color darken-0">
              <tr class="text-white">
                <th>No.</th>
                <th>章节</th>
                <th>出题数量</th>
              </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody *ngFor="let questionNumber of questionNumberList; let myIndex = index">
              <tr>
                <th scope="row">{{myIndex+1}}</th>
                <td>{{questionNumber.sectionName}}</td>
                <td>
                  <input type="text" data-error="  " data-success=" " [(ngModel)]="questionNumberList[myIndex].questionCount" [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>

      </div>
    </form>
  </div>

</div>