<!--Panel-->
<div class="card  mb-3">
  <h3 class="card-header primary-color white-text">添加新课程</h3>
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="doPost(myForm.value)">
      <div class="container">
        <div class="col-md-9">
          <div class=" row md-form   form-group ">
            <input type="text" id="className" data-error="  " data-success=" " minLength="1" class="form-control" formControlName="className"
              mdbInputDirective>
            <label for="className" class="font-weight-bold blue-text">课程名称</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mdb-select [options]="colorSelect" formControlName="subjectName" class="colorful-select dropdown-primary" placeholder="请选择学科"></mdb-select>
            <label class="font-weight-bold blue-text">学科</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <mdb-select [options]="colorSelect" class="colorful-select dropdown-primary" placeholder="请选择授课对象"></mdb-select>
            <label class="font-weight-bold blue-text">授课对象</label>
          </div>
          <div class="col-md-3">
            <mdb-select [options]="colorSelect" class="colorful-select dropdown-primary" placeholder="请选择学期"></mdb-select>
            <label class="font-weight-bold blue-text">学期</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <mdb-select [options]="colorSelect" class="colorful-select dropdown-primary" placeholder="请选择教材版本"></mdb-select>
            <label class="font-weight-bold blue-text">教材版本</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class=" row md-form   form-group ">
            <input type="text" id="className" data-error="  " data-success=" " minLength="1" class="form-control" formControlName="className"
              mdbInputDirective>
            <label for="className" class="font-weight-bold blue-text">人数</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class=" row md-form   form-group ">
            <label for="mydateId" class="font-weight-bold blue-text">课程截至日期</label>
            <mdb-date-picker id="mydateId" name="mydate" [options]="myDatePickerOptions" [placeholder]="'请选择截止日期'" [(ngModel)]="model"
              required></mdb-date-picker>

            <!-- 
            <input type="text" id="className" data-error="  " data-success=" " minLength="1" class="form-control" formControlName="className"
              mdbInputDirective>
            <label for="className" class="font-weight-bold blue-text">课程截至日期</label> -->

          </div>
        </div>
      </div>

      <!-- </div> -->
      <!-- <div class="md-form form-sm  form-group">
        <label for="className" class="blue-text">课程名称</label>
        <input type="text" id="className" class="form-control" formControlName="className" mdbInputDirective>
        <input mdbInputDirective data-error="" data-success=" " minLength="8" maxLength="25" class="form-control" id="form9" name="className">
        <div *ngIf="myForm.controls['className'].touched">
          <div class="alert alert-danger" *ngIf="myForm.controls['className'].errors?.required">This is requierd!</div>
        </div>
      </div> -->



      <br>
      <br>
      <button class="btn btn-primary waves-light" mdbRippleRadius [disabled]="!myForm.valid">
        <i class="fa fa-check mr-1"></i>&nbsp;提交申请</button>
      <button class="btn btn-default waves-light" mdbWavesEffect>
        <i class="fa fa-times ml-1"></i>&nbsp;取消</button>
    </form>
  </div>
</div>