

<button class="btn btn-primary waves-light" mdbRippleRadius><i class="fa fa-magic mr-1"></i> 新建课程</button>
<!--Table-->
<table class="table">

  <!--Table head-->
  <thead class="blue-grey lighten-4">
      <tr>
          <th>No.</th>
          <th>课程名称</th>
          <th>课程码</th>
          <th>创建时间</th>
          <th>结束时间</th>
          <th>课程人数</th>
          <th>课程状态</th>
          <th>操作</th>
      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>七年级数学下册</td>
          <td>A789b1we23</td>
          <td>2018-1-28</td>
          <td>2018-7-28</td>
          <td>34</td>
          <td>已审核</td>
          <td><a href="">修改　</a><a href="">删除</a> </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>七年级数学下册</td>
        <td></td>
        <td>2018-1-28</td>
        <td>2018-7-28</td>
        <td>34</td>
        <td>待审核</td>
        <td><a href="">修改　</a><a href="">删除</a> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>七年级数学下册</td>
      <td>bs8sfb1we23</td>
      <td>2018-1-28</td>
      <td>2018-7-28</td>
      <td>34</td>
      <td>已结束</td>
      <td><a href="">修改　</a><a href="">删除</a> </td>
  </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
                                  