<!--Form without header-->
<div class="card">
  <div class="card-body">

    <!--Header-->
    <div class="text-center cyan-text">
      <h3>
        <i class="fa fa-lock cyan-text"></i> Login:</h3>
      <hr class="my-4">
    </div>

    <form>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input mdbInputDirective data-error=" " data-success=" " minLength="8" maxLength="25" type="email" class="form-control" id="form9" name="email" >
          <label for="form9">邮箱地址</label>
        </div>
      
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input mdbInputDirective data-error="  " data-success=" " minLength="3" maxLength="25" type="password" class="form-control" id="form10" name="password">
          <label for="form10">用户密码</label>
        </div>
      </form>  

    <div class="text-center">
      <button class="btn btn-primary"><i class="fa fa-unlock mr-1"></i> 登录</button>
    </div>
  </div>

  <!--Footer-->
  <div class="modal-footer">
    <div class="options">
      <p>不是会员?
        <a href="#">注册</a>
      </p>
      <p>忘记
        <a href="#">密码?</a>
      </p>
    </div>
  </div>

</div>
<!--/Form without header-->