<!--Panel-->
<div class="card  mb-3">
  <h3 class="card-header primary-color white-text">添加新选择题</h3>
  <div class="card-body">

    <div class="container">
      <div class="col-md-9">
        <label for="question" class="font-weight-bold blue-text">选择题题干</label>
        <textarea type="text" id="question" data-error="  " data-success="  " placeholder="请输入选择题题干" [(ngModel)]="choiceQuestion.question"
          class="form-control"></textarea>

      </div>
      <br>

      <!--   -->
      <div class="col-md-9">
        <label for="questionImgs" class="font-weight-bold blue-text">选择题图片</label>
        <textarea type="text" id="questionImgs" data-error="  " data-success="  " placeholder="请输入选择题图片地址，多个图片用；隔开"
          class="form-control" [(ngModel)]="choiceQuestion.imgListStr" mdbInputDirective></textarea>
      </div>
      <div class="col-md-9">
        <label for="hintQuestionIds" class="font-weight-bold blue-text">选择提示题目ID</label>
        <textarea type="text" id="hintQuestionIds" data-error="  " data-success="  " placeholder="请输入选择题提示题目ID，多个提示题目用；号隔开"
          class="form-control" [(ngModel)]="choiceQuestion.hintQuestionIdListStr" mdbInputDirective></textarea>
      </div>
      <br>
      <mdb-choice-option [choiceOptionList]="choiceQuestion.choiceOptionList"></mdb-choice-option>

      <br>

    </div>
  </div>
</div>

<div class="card  mb-3">
  <h3 class="card-header primary-color white-text">题目预览</h3>
  <div class="card-body">

    <div class="container">
      <mdb-you-katex [latex]="choiceQuestion.question"></mdb-you-katex>
      <div class="table-responsive">
        <table class="table table-sm ">
          <tr *ngFor="let option of choiceQuestion.choiceOptionList">
            <td width="30px"> <button [ngClass]="(option.status=='rightAnswer') ? 'rightAnswer':'unselected'">{{
                option.sequenceNo | transChoiceOption}}</button></td>
            <td width="900px">
              <mdb-you-katex [latex]="option.choiceItem"></mdb-you-katex>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <button type="button" class="btn btn-primary waves-light" (click)="submit()" mdbRippleRadius>
    <i class="fa fa-check mr-1"></i>&nbsp;提交</button>
  <button type="button" (click)="reset()" class="btn btn-default waves-light" mdbWavesEffect>
    <i class="fa fa-times ml-1"></i>&nbsp;取消</button>
</div>